http:
  middlewares:
    badger:
      plugin:
        badger:
          disableForwardAuth: true
%{ if enable_crowdsec ~}
    crowdsec:
      plugin:
        bouncer:
          enabled: true
          crowdsecMode: stream
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiKey: __CROWDSEC_BOUNCER_KEY__
%{ endif ~}
    redirect-to-https:
      redirectScheme:
        scheme: https

  routers:
    main-app-router-redirect:
      rule: "Host(`${dashboard_host}`)"
      service: next-service
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
        - badger

    next-router:
      rule: "Host(`${dashboard_host}`) && !PathPrefix(`/api/v1`)"
      service: next-service
      entryPoints:
        - websecure
      middlewares:
        - badger
      tls:
        certResolver: letsencrypt

    api-router:
      rule: "Host(`${dashboard_host}`) && PathPrefix(`/api/v1`)"
      service: api-service
      entryPoints:
        - websecure
      middlewares:
        - badger
      tls:
        certResolver: letsencrypt

    ws-router:
      rule: "Host(`${dashboard_host}`)"
      service: api-service
      entryPoints:
        - websecure
      middlewares:
        - badger
      tls:
        certResolver: letsencrypt
%{ if enable_integration_api ~}

    int-api-router-redirect:
      rule: "Host(`${integration_api_host}`)"
      service: int-api-service
      entryPoints:
        - web
      middlewares:
        - redirect-to-https

    int-api-router:
      rule: "Host(`${integration_api_host}`)"
      service: int-api-service
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
%{ endif ~}

  services:
    next-service:
      loadBalancer:
        servers:
          - url: "http://pangolin:3002"

    api-service:
      loadBalancer:
        servers:
          - url: "http://pangolin:3000"
%{ if enable_integration_api ~}

    int-api-service:
      loadBalancer:
        servers:
          - url: "http://pangolin:${integration_port}"
%{ endif ~}

tcp:
  serversTransports:
    pp-transport-v1:
      proxyProtocol:
        version: 1
    pp-transport-v2:
      proxyProtocol:
        version: 2
